@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
  background-color: #02010a;
  align-content: center;
  font-family: 'Dancing Script', cursive;
}
#Cabecera{
  width:80%;
  height:70px;
  border:1px solid black;
  border-radius: 10px;
  background: #5b7989;
  color:white;
  text-shadow: 0px 2px #02010a;
  display:inline-block;
  margin:0% 10% 0% 10%;
}
#Cabecera h1{
  float:left;
  position:absolute;

}
#Cabecera nav{
  float:right;
  position:relative bottom;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  font-size: 2em;

}
#Cabecera nav a{
  color:white;
}
#Cabecera nav a:visited{
  text-decoration: none;
}
#Galeria{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #d5c75f;
  border: 1px solid black;
  border-radius: 10px;
  width:80%;
  height:auto;
  margin: 0% 10% 0% 10%;
  text-align: center;
  align-items:center;
}
#Galeria img{
  width:30%;
  margin:2% 1% 2% 1%;
  box-shadow: 2px 2px 0px #02010a;
}
#Galeria img:nth-child(1){
  filter: blur(10px);
}
#Galeria img:nth-child(2n+0){
  filter:grayscale(100%);
}
#Galeria img:nth-child(3){
  filter:sepia(90%);
}
footer{
  width:80%;
  margin:0% 10% 0% 10%;
  background: #C6d5c5;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  text-indent: 0.5em;
}
footer img{
  width: 10%;

}
footer div{
  margin-left: 5%;
  margin-right: 5%;
}
@media screen and (max-width:900px){
  #Cabecera{
    width:100%;
    height: auto;
    margin:0% 0% 0% 0%;
    display:flex;
    flex-direction: column;
    text-align:center;
  }
  #Cabecera h1{
    text-align: center;
    position:relative;
  }
  #Barra_de_navegacion{
    flex-wrap: wrap;
    width:100%;
    margin-top:5%;
    margin-bottom: 5%;
    text-align: center;
  }
  #Galeria{
    width:100%;
    flex-direction: column;
    margin: 0% 0% 0% 0%;
  }
  #Galeria img{
    width:80%;
    margin: 2% 2% 2% 2%;
  }
  footer{
    width:100%;
    display:flex;
    flex-direction: column;
    margin:0% 0% 0% 0%;
}
}
